body
{
   background-color: #3CB371;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
*
{
   scrollbar-color: rgba(0,100,0,1.00) rgba(0,100,0,0.16);
}
*::-webkit-scrollbar
{
   width: 0px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,100,0,0.16);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(0,100,0,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,100,0,0.16);
}
*::-webkit-scrollbar-thumb:hover
{
   background-color: rgba(152,251,152,1.00);
   border-color: rgba(0,100,0,1.00);
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 293px;
   height: 293px;
   vertical-align: top;
}
#Button1
{
   box-sizing: border-box;
   line-height: 35px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E8B57;
   border-radius: 7px;
   background-color: transparent;
   background-image: none;
   color: #7FFFD4;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_text16LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #2E8B57;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#text16LayoutGrid
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#text16LayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#text16LayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#text16LayoutGrid > .row > .col-1
{
   float: left;
}
#text16LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#text16LayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#text16LayoutGrid:before,
#text16LayoutGrid:after,
#text16LayoutGrid .row:before,
#text16LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#text16LayoutGrid:after,
#text16LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#text16LayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_text16Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 20px 0 20px 0;
   text-align: right;
}
#text16Heading
{
   color: #98FB98;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: right;
   text-decoration: underline;
   text-transform: none;
}
#text16Heading:indeterminate
{
   margin-left: 500px;
   transition: margin-left 500ms linear 0ms;
}
#wb_text16Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 30px 0 ;
   text-align: right;
}
#wb_text16Text
{
   color: #98FB98;
   font-family: Poppins;
   font-weight: 700;
   font-size: 29px;
   line-height: 52px;
}
#wb_text16Text p, #wb_text16Text ul
{
   margin: 0;
   padding: 0;
}
#wb_text16Text
{
   display: block;
   margin: 0 0 30px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 30px 0;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_features2CardContainer
{
   background-color: #2E8B57;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 20px;
   box-sizing: border-box;
   position: relative;
}
#features2CardContainer
{
   display: flex;
   position: relative;
   padding: 50px 0 50px 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:768px) 
{
#features2CardContainer
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_features2Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   background-color: #98FB98;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 15px;
   text-align: center;
}
#features2Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#features2Card1-card-item0
{
   box-sizing: border-box;
   margin: 50px 5px 20px 5px;
   padding: 5px 5px 0 5px;
   border: 0px solid #000000;
   border-radius: 0px;
   width: calc(100% - 10px);
   height: auto;
}
#features2Card1-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 21px;
}
#features2Card1-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#features2Card1-card-item2
{
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   padding: 0;
   color: #000000;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 16px;
}
#features2Card1-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_features2Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   background-color: #98FB98;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 15px;
   text-align: center;
}
#features2Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#features2Card2-card-item0
{
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: calc(100% - 10px);
   height: auto;
}
#features2Card2-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 21px;
}
#features2Card2-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#features2Card2-card-item2
{
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   padding: 0;
   color: #000000;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 16px;
}
#features2Card2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_features2Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   background-color: #98FB98;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 15px;
   text-align: center;
}
#features2Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#features2Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features2Card3-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 21px;
}
#features2Card3-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#features2Card3-card-item2
{
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   padding: 0;
   color: #000000;
   font-family: "Poppins";
   font-weight: 700;
   font-style: normal;
   font-size: 16px;
}
#features2Card3-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#Button2
{
   box-sizing: border-box;
   line-height: 39px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E8B57;
   border-radius: 7px;
   background-color: rgba(127,255,212,0.14);
   background-image: none;
   color: #008000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: transparent;
   border-radius: 0px;
}
#Layer1-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(to right, #1B5233 0%, rgba(27,82,51,0.00) 100%);
}
#Button3
{
   box-sizing: border-box;
   line-height: 39px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E8B57;
   border-radius: 7px;
   background-color: rgba(127,255,212,0.14);
   background-image: none;
   color: #008000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Layer2
{
   background-color: transparent;
   border-radius: 0px;
}
#Layer2-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(to left, #1B5233 0%, rgba(27,82,51,0.00) 100%);
}
#Button4
{
   box-sizing: border-box;
   line-height: 35px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E8B57;
   border-radius: 7px;
   background-color: transparent;
   background-image: none;
   color: #7FFFD4;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 15px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer3
{
   background-color: #98FB98;
   background-image: none;
   border-radius: 20px;
   margin: 0;
}
#Layer3
{
   display: inline-flex;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Dialog1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#Dialog1 .modal-content
{
   background-color: #1B5233;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 20px;
   overflow: visible;
   pointer-events: all;
}
#Dialog1.fade
{
   opacity: 1;
   transition: all 500ms linear;
}
#Dialog1 .animate-show
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: slide-up-in;
}
#Dialog1 .animate-hide
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: slide-up-in;
   animation-direction: reverse;
}
#Dialog1.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#Dialog1 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#Dialog1 .modal-open
{
   overflow: hidden;
}
#Dialog1 .modal-dialog
{
   position: relative;
   width: 1052px;
   margin-left: auto;
   margin-right: auto;
}
#Dialog1 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#Dialog1 .modal-header
{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   padding: 10px 10px 10px 10px;
   background-color: #90EE90;
   border-bottom: 1px solid #D2D2D2;
}
#Dialog1 .modal-footer
{
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #D2D2D2;
}
#Dialog1 .modal-body
{
   position: relative;
   width: 1052px;
}
#Dialog1 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #006400;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#Dialog1 .modal-header
{
   cursor: move;
}
#Dialog1 .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#Dialog1 .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#Dialog1 .modal-title
{
   color: #006400;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: center;
   margin: 0;
}
#Dialog1 .modal-body
{
   box-sizing: border-box;
   font-size: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Extension1
{
   color: #98FB98;
   display: block;
   font-family: Arial;
   font-size: 64px;
   font-style: normal;
   font-weight: bold;
   margin: 0;
   padding: 25px;
}
#Extension1
{
}
#Extension1 .heading
{
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
   opacity: 0;
}
#Extension1 .heading-active
{
   opacity: 1;
   -webkit-animation: animated-heading-scale-in 500ms;
   animation: animated-heading-scale-in 500ms;
}
#Extension1 .heading-inactive
{
   -webkit-animation: animated-heading-scale-out 500ms;
   animation: animated-heading-scale-out 500ms;
}
@-webkit-keyframes animated-heading-scale-in
{
   0%
   {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
   }
   100%
   {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}
@keyframes animated-heading-scale-in
{
   0%
   {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
   }
   100%
   {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}
@-webkit-keyframes animated-heading-scale-out
{
   0%
   {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   100%
   {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
   }
}
@keyframes animated-heading-scale-out 
{
   0%
   {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   100%
   {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
   }
}
